# Common options
[mysqld]
loose-debug-sync-timeout=600
skip-performance-schema
innodb-file-per-table
innodb-autoinc-lock-mode=2
innodb-locks-unsafe-for-binlog=1
innodb-flush-method=O_DIRECT
core-file 
loose-new
sql-mode=no_engine_substitution
loose-innodb
secure-file-priv=
loose-innodb-status-file=1
innodb-log-files-in-group=10
innodb-log-file-size=50331648
innodb-undo-tablespaces=2
innodb-undo-log-truncate=ON
innodb-log-checksums=ON
wsrep-slave-threads=2
log-output=none
wsrep-sst-method=xtrabackup-v2
wsrep-sst-auth="root:"

#user=kennt
binlog-format=ROW
wsrep-cluster-name=my_cluster

[sst]
#encrypt=3
#tkey=/home/kennt/dev/data/certs/server.key
#tcert=/home/kennt/dev/data/certs/server.pem
#tca=/home/kennt/dev/data/certs/server.crt
encrypt=1
encrypt-algo=AES256
encrypt-key=A1EDC73815467C083B0869508406637E

[mysqld.1]
server-id=1
datadir=/home/kennt/dev/pxc/build-bin/node1
log-error=/home/kennt/dev/pxc/build-bin/node1/node1.err
innodb-tmpdir=/home/kennt/dev/pxc/build-bin/innodb_tmpdir1
innodb-log-group-home-dir=/tmp/node1
wsrep-node-name=node1
socket=/home/kennt/dev/pxc/build-bin/node1/socket.sock
early-plugin-load=keyring_file.so
keyring-file-data=/home/kennt/dev/pxc/build-bin/keyring-node1/keyring

[mysqld.2]
server-id=2
datadir=/home/kennt/dev/pxc/build-bin/node2
log-error=/home/kennt/dev/pxc/build-bin/node2/node2.err
innodb-tmpdir=/home/kennt/dev/pxc/build-bin/innodb_tmpdir2
innodb-log-group-home-dir=/tmp/node2
wsrep-node-name=node2
socket=/home/kennt/dev/pxc/build-bin/node2/socket.sock
early-plugin-load=keyring_file.so
keyring-file-data=/home/kennt/dev/pxc/build-bin/keyring-node2/keyring

[mysqld.3]
server-id=3
datadir=/home/kennt/dev/pxc/build-bin/node3
log-error=/home/kennt/dev/pxc/build-bin/node3/node3.err
innodb-tmpdir=/home/kennt/dev/pxc/build-bin/innodb_tmpdir3
innodb-log-group-home-dir=/tmp/node3
wsrep-node-name=node3
socket=/home/kennt/dev/pxc/build-bin/node3/socket.sock
early-plugin-load=keyring_file.so
keyring-file-data=/home/kennt/dev/pxc/build-bin/keyring-node3/keyring

[mysqld.4]
server-id=4
datadir=/home/kennt/dev/pxc/build-bin/node4
log-error=/home/kennt/dev/pxc/build-bin/node4/node4.err
innodb-tmpdir=/home/kennt/dev/pxc/build-bin/innodb_tmpdir4
innodb-log-group-home-dir=/tmp/node4
wsrep-node-name=node4
socket=/home/kennt/dev/pxc/build-bin/node4/socket.sock
early-plugin-load=keyring_file.so
keyring-file-data=/home/kennt/dev/pxc/build-bin/keyring-node4/keyring
