# Common options
[mysqld]
log_bin
binlog_format=ROW
innodb_file_per_table=1
default_storage_engine=innodb
wsrep-cluster-name=my_cluster
wsrep_sst_method=xtrabackup-v2
wsrep_sst_auth="root:"
innodb_autoinc_lock_mode=2
innodb_locks_unsafe_for_binlog=1
wsrep-debug=1

[mysqld.1]
server-id=1
datadir=/home/kennt/dev/codership/build-bin/node1
log-error=/home/kennt/dev/codership/build-bin/node1/error.log
wsrep-node-name=node1
socket=/home/kennt/dev/codership/build-bin/node1/socket.sock

[mysqld.2]
server-id=2
datadir=/home/kennt/dev/codership/build-bin/node2
log-error=/home/kennt/dev/codership/build-bin/node2/error.log
wsrep-node-name=node2
socket=/home/kennt/dev/codership/build-bin/node2/socket.sock

[mysqld.3]
server-id=3
datadir=/home/kennt/dev/codership/build-bin/node3
log-error=/home/kennt/dev/codership/build-bin/node3/error.log
wsrep-node-name=node3
socket=/home/kennt/dev/codership/build-bin/node3/socket.sock
