# Common options
[mysqld]
key_buffer=256M
max_allowed_packet=16M
max_connections=256
thread_concurrency=10
sort_buffer_size=2M
query_cache_limit=100M
query_cache_size=256M
log_bin
binlog_format=ROW
gtid_mode=ON
log_slave_updates
enforce_gtid_consistency=1
group_concat_max_len=102400
innodb_buffer_pool_size=10G
innodb_log_file_size=64M
innodb_file_per_table=1
innodb_file_format=barracuda
default_storage_engine=innodb
innodb_flush_neighbors=0
innodb_io_capacity=6000
wsrep_sst_method=xtrabackup-v2
wsrep_sst_auth="root:"
wsrep_cluster_name=cluster
wsrep_slave_threads=32
wsrep_max_ws_size=2G
wsrep_provider_options="gcache.sie=5G;pc.recovery=true"
wsrep_sync_wait=0
innodb_autoinc_lock_mode=2
innodb_locks_unsafe_for_binlog=1
innodb_flush_log_at_trx_commit=0
sync_binlog=0
innodb_support_xa=0
innodb_flush_method=ALL_O_DIRECT

#loose-debug-sync-timeout=600
#skip-performance-schema
#innodb-file-per-table
#innodb-autoinc-lock-mode=2
#innodb-flush-method=O_DIRECT
#core-file 
#sql-mode=no_engine_substitution
#secure-file-priv=
#wsrep-slave-threads=2
#log-output=none
#wsrep-sst-method=xtrabackup-v2
#wsrep-sst-auth="root:"
#wsrep-debug=1
#
#binlog-format=ROW
#wsrep-cluster-name=my_cluster

[mysqld.1]
server-id=1
datadir=/home/kennt/dev/pxc/build-bin/node1
#log-error=/home/kennt/dev/pxc/build-bin/node1/node1.err
#innodb-tmpdir=/home/kennt/dev/pxc/build-bin/innodb_tmpdir1
#innodb-log-group-home-dir=/tmp/node1
wsrep-node-name=node1
socket=/home/kennt/dev/pxc/build-bin/node1/socket.sock
port=4100
basedir=/home/kennt/dev/pxc/build-bin
wsrep-provider=/home/kennt/dev/pxc/build-bin/lib/libgalera_smm.so
wsrep_cluster_address=gcomm://192.168.86.102:4120,192.168.86.102:4220,192.168.86.102:4320
wsrep_sst_receive_address=192.168.86.102:4130
wsrep_node_incoming_address=192.168.86.102
wsrep_provider_options=gmcast.listen_addr=tcp://192.168.86.102:4120


[mysqld.2]
server-id=2
datadir=/home/kennt/dev/pxc/build-bin/node2
#log-error=/home/kennt/dev/pxc/build-bin/node2/node2.err
#innodb-tmpdir=/home/kennt/dev/pxc/build-bin/innodb_tmpdir2
#innodb-log-group-home-dir=/tmp/node2
wsrep-node-name=node2
socket=/home/kennt/dev/pxc/build-bin/node2/socket.sock
port=4200
basedir=/home/kennt/dev/pxc/build-bin
wsrep-provider=/home/kennt/dev/pxc/build-bin/lib/libgalera_smm.so
wsrep_cluster_address=gcomm://192.168.86.102:4120,192.168.86.102:4220,192.168.86.102:4320
wsrep_sst_receive_address=192.168.86.102:4230
wsrep_node_incoming_address=192.168.86.102
wsrep_provider_options=gmcast.listen_addr=tcp://192.168.86.102:4220

[mysqld.3]
server-id=3
datadir=/home/kennt/dev/pxc/build-bin/node3
#log-error=/home/kennt/dev/pxc/build-bin/node3/node3.err
#innodb-tmpdir=/home/kennt/dev/pxc/build-bin/innodb_tmpdir3
#innodb-log-group-home-dir=/tmp/node3
wsrep-node-name=node3
socket=/home/kennt/dev/pxc/build-bin/node3/socket.sock
port=4300
basedir=/home/kennt/dev/pxc/build-bin
wsrep-provider=/home/kennt/dev/pxc/build-bin/lib/libgalera_smm.so
wsrep_cluster_address=gcomm://192.168.86.102:4120,192.168.86.102:4220,192.168.86.102:4320
wsrep_sst_receive_address=192.168.86.102:4330
wsrep_node_incoming_address=192.168.86.102
wsrep_provider_options=gmcast.listen_addr=tcp://192.168.86.102:4320

