# Common options
[mysqld]
log_bin
binlog_format=ROW
gtid_mode=ON
log_slave_updates
enforce_gtid_consistency=1
innodb_file_per_table=1
default_storage_engine=innodb
wsrep_sst_method=xtrabackup-v2
wsrep_sst_auth="root:"
wsrep_cluster_name=cluster
innodb_autoinc_lock_mode=2
innodb_locks_unsafe_for_binlog=1
wsrep-debug=1

[mysqld.1]
server-id=1
datadir=/home/kennt/dev/pxc/build-bin/node1
log-error=/home/kennt/dev/pxc/build-bin/node1/node1.err
wsrep-node-name=node1
socket=/home/kennt/dev/pxc/build-bin/node1/socket.sock
port=4100
basedir=/home/kennt/dev/pxc/build-bin
wsrep-provider=/home/kennt/dev/pxc/build-bin/lib/libgalera_smm.so
wsrep_cluster_address=gcomm://192.168.86.102:4120,192.168.86.102:4220,192.168.86.102:4320
wsrep_sst_receive_address=192.168.86.102:4130
wsrep_node_incoming_address=192.168.86.102
wsrep_provider_options=gmcast.listen_addr=tcp://192.168.86.102:4120


[mysqld.2]
server-id=2
datadir=/home/kennt/dev/pxc/build-bin/node2
log-error=/home/kennt/dev/pxc/build-bin/node2/node2.err
wsrep-node-name=node2
socket=/home/kennt/dev/pxc/build-bin/node2/socket.sock
port=4200
basedir=/home/kennt/dev/pxc/build-bin
wsrep-provider=/home/kennt/dev/pxc/build-bin/lib/libgalera_smm.so
wsrep_cluster_address=gcomm://192.168.86.102:4120,192.168.86.102:4220,192.168.86.102:4320
wsrep_sst_receive_address=192.168.86.102:4230
wsrep_node_incoming_address=192.168.86.102
wsrep_provider_options=gmcast.listen_addr=tcp://192.168.86.102:4220

[mysqld.3]
server-id=3
datadir=/home/kennt/dev/pxc/build-bin/node3
log-error=/home/kennt/dev/pxc/build-bin/node3/node3.err
wsrep-node-name=node3
socket=/home/kennt/dev/pxc/build-bin/node3/socket.sock
port=4300
basedir=/home/kennt/dev/pxc/build-bin
wsrep-provider=/home/kennt/dev/pxc/build-bin/lib/libgalera_smm.so
wsrep_cluster_address=gcomm://192.168.86.102:4120,192.168.86.102:4220,192.168.86.102:4320
wsrep_sst_receive_address=192.168.86.102:4330
wsrep_node_incoming_address=192.168.86.102
wsrep_provider_options=gmcast.listen_addr=tcp://192.168.86.102:4320

