# Common options
[mysqld]
#skip-performance-schema
skip-slave-start
innodb-file-per-table
innodb-autoinc-lock-mode=2
innodb-locks-unsafe-for-binlog=1
innodb-flush-method=O_DIRECT
innodb_flush_log_at_trx_commit=2
sql-mode=no_engine_substitution
secure-file-priv=
wsrep-slave-threads=2
log-output=none
wsrep-sst-method=xtrabackup-v2
wsrep-sst-auth="root:"

gtid-mode=ON
enforce-gtid-consistency=1


wsrep-debug=ON

#user=kennt
binlog-format=ROW
wsrep-cluster-name=my_cluster

[mysqld.a]
# Async Master settings
log-bin=binlog
#expire_log_days=7
server-id=100

datadir=/home/kennt/dev/pxc/build-bin/nodea
log-error=/home/kennt/dev/pxc/build-bin/nodea/error.log
socket=/home/kennt/dev/pxc/build-bin/nodea/socket.sock

[mysqld.b]
# Async master settings
log-bin=binlog
server-id=200

datadir=/home/kennt/dev/pxc/build-bin/nodeb
log-error=/home/kennt/dev/pxc/build-bin/nodeb/error.log
socket=/home/kennt/dev/pxc/build-bin/nodeb/socket.sock

[mysqld.1]
# Async slave settings
log-slave-updates=1
log-bin=binlog
#expire-log-days=7
server-id=1
master-info-repository=TABLE
relay-log-info-repository=TABLE

datadir=/home/kennt/dev/pxc/build-bin/node1
log-error=/home/kennt/dev/pxc/build-bin/node1/error.log
wsrep-node-name=node1
socket=/home/kennt/dev/pxc/build-bin/node1/socket.sock

slave-parallel-workers=1


