# Common options
[mysqld]
log_bin
binlog_format=ROW
gtid_mode=ON
log_slave_updates
enforce_gtid_consistency=1
innodb_file_per_table=1
default_storage_engine=innodb
wsrep_sst_method=xtrabackup-v2
wsrep_sst_auth="root:"
innodb_autoinc_lock_mode=2
innodb_locks_unsafe_for_binlog=1
#wsrep-debug=1

[sst]
wsrep-debug=1

[mysqld.11]
server-id=11
wsrep-cluster-name=cluster1
wsrep-node-name=node11
datadir=WORKDIR/node11
log-error=WORKDIR/logs/node11.err
socket=WORKDIR/node11/socket.sock

[mysqld.12]
server-id=12
wsrep-cluster-name=cluster1
wsrep-node-name=node12
datadir=WORKDIR/node12
log-error=WORKDIR/logs/node12.err
socket=WORKDIR/node12/socket.sock

[mysqld.13]
server-id=13
wsrep-cluster-name=cluster1
wsrep-node-name=node13
datadir=WORKDIR/node13
log-error=WORKDIR/logs/node13.err
socket=WORKDIR/node13/socket.sock

[mysqld.21]
server-id=21
wsrep-cluster-name=cluster2
wsrep-node-name=node21
datadir=WORKDIR/node21
log-error=WORKDIR/logs/node21.err
socket=WORKDIR/node21/socket.sock

[mysqld.22]
server-id=22
wsrep-cluster-name=cluster2
wsrep-node-name=node22
datadir=WORKDIR/node22
log-error=WORKDIR/logs/node22.err
socket=WORKDIR/node22/socket.sock

[mysqld.23]
server-id=23
wsrep-cluster-name=cluster2
wsrep-node-name=node23
datadir=WORKDIR/node23
log-error=WORKDIR/logs/node23.err
socket=WORKDIR/node23/socket.sock
