# Common options
[mysqld]
log_bin
binlog_format=ROW
gtid_mode=ON
log_slave_updates
enforce_gtid_consistency=1
innodb_file_per_table=1
default_storage_engine=innodb
wsrep_sst_method=xtrabackup-v2
wsrep_sst_auth="root:"
innodb_autoinc_lock_mode=2
innodb_locks_unsafe_for_binlog=1
#wsrep-debug=1

[sst]
wsrep-debug=1

[mysqld.1.1]
server-id=11
wsrep-cluster-name=cluster1
wsrep-node-name=node11
datadir=/home/kennt/dev/pxc/node11
log-error=/home/kennt/dev/pxc/logs/node11.err
socket=/home/kennt/dev/pxc/node11/socket.sock

[mysqld.1.2]
server-id=12
wsrep-cluster-name=cluster1
wsrep-node-name=node12
datadir=/home/kennt/dev/pxc/node12
log-error=/home/kennt/dev/pxc/logs/node12.err
socket=/home/kennt/dev/pxc/node12/socket.sock

[mysqld.1.3]
server-id=13
wsrep-cluster-name=cluster1
wsrep-node-name=node13
datadir=/home/kennt/dev/pxc/node13
log-error=/home/kennt/dev/pxc/logs/node13.err
socket=/home/kennt/dev/pxc/node13/socket.sock

[mysqld.2.1]
server-id=21
wsrep-cluster-name=cluster2
wsrep-node-name=node21
datadir=/home/kennt/dev/pxc/node21
log-error=/home/kennt/dev/pxc/logs/node21.err
socket=/home/kennt/dev/pxc/node21/socket.sock

[mysqld.2.2]
server-id=22
wsrep-cluster-name=cluster2
wsrep-node-name=node22
datadir=/home/kennt/dev/pxc/node22
log-error=/home/kennt/dev/pxc/logs/node22.err
socket=/home/kennt/dev/pxc/node22/socket.sock

[mysqld.2.3]
server-id=23
wsrep-cluster-name=cluster2
wsrep-node-name=node23
datadir=/home/kennt/dev/pxc/node23
log-error=/home/kennt/dev/pxc/logs/node23.err
socket=/home/kennt/dev/pxc/node23/socket.sock
