# Common options
[mysqld]
log_bin
binlog_format=ROW
log_slave_updates

gtid_mode=ON
enforce_gtid_consistency=1

innodb_file_per_table=1
default_storage_engine=innodb
innodb_autoinc_lock_mode=2
innodb_locks_unsafe_for_binlog=1

wsrep-cluster-name=my_cluster
wsrep_sst_method=xtrabackup-v2
wsrep_sst_auth="root:"
wsrep-debug=1

socket=NODE_DATADIR/socket.sock
datadir=NODE_DATADIR
log-error=NODE_DATADIR/node.err

pxc-encrypt-cluster-traffic=ON
ssl-ca=ca.pem
ssl-cert=server-cert.pem
ssl-key=server-key.pem


[mysqld.1]
server-id=1
wsrep-node-name=node1
#early-plugin-load=keyring_file.so
#keyring-file-data=/home/kennt/dev/pxc/build-bin/keyring-node1/keyring

[mysqld.2]
server-id=2
wsrep-node-name=node2
#early-plugin-load=keyring_file.so
#keyring-file-data=/home/kennt/dev/pxc/build-bin/keyring-node2/keyring

