# Common options
[mysqld]
skip-performance-schema
innodb-file-per-table
innodb-autoinc-lock-mode=2
innodb-locks-unsafe-for-binlog=1
innodb-flush-method=O_DIRECT
sql-mode=no_engine_substitution
secure-file-priv=
wsrep-slave-threads=2
log-output=none
wsrep-sst-method=mysqldump
wsrep-sst-auth="root:"

wsrep-debug=ON

#user=kennt
binlog-format=ROW
wsrep-cluster-name=my_cluster

[mysqld.1]
server-id=1
datadir=/home/kennt/dev/pxc/build-bin/node1
log-error=/home/kennt/dev/pxc/build-bin/node1/error.log
wsrep-node-name=node1
socket=/home/kennt/dev/pxc/build-bin/node1/socket.sock

[mysqld.2]
server-id=2
datadir=/home/kennt/dev/pxc/build-bin/node2
log-error=/home/kennt/dev/pxc/build-bin/node2/error.log
wsrep-node-name=node2
socket=/home/kennt/dev/pxc/build-bin/node2/socket.sock

[mysqld.3]
server-id=3
datadir=/home/kennt/dev/pxc/build-bin/node3
log-error=/home/kennt/dev/pxc/build-bin/node3/error.log
wsrep-node-name=node3
socket=/home/kennt/dev/pxc/build-bin/node3/socket.sock
