# Common options
[mysqld]
skip-performance-schema
skip-slave-start
innodb-file-per-table
innodb-autoinc-lock-mode=2
innodb-flush-method=O_DIRECT
innodb_flush_log_at_trx_commit=2
sql-mode=no_engine_substitution
secure-file-priv=
log-output=none

gtid-mode=ON
enforce-gtid-consistency=1

log-slave-updates

binlog-format=ROW

wsrep-slave-threads=2
wsrep-cluster-name=my_cluster
wsrep-debug=ON
wsrep-sst-method=xtrabackup-v2
wsrep-sst-auth="root:"

master-info-repository=TABLE
relay-log-info-repository=TABLE

pxc-maint-transition-period=2

#
# Async Master settings
# (Master1)
#
[mysqld.master1]
log-bin=binlog
server-id=100

datadir=DATADIR_BASE_PATH/master1
log-error=DATADIR_BASE_PATH/master1/error.log
socket=DATADIR_BASE_PATH/master1/socket.sock

#
# Async Master settings
# (Master2)
#
[mysqld.master2]
log-bin=binlog
server-id=200

datadir=DATADIR_BASE_PATH/master2
log-error=DATADIR_BASE_PATH/master2/error.log
socket=DATADIR_BASE_PATH/master2/socket.sock



#
# PXC Cluster settings
# (PXC1)
#
[mysqld.node1]
# Async slave settings
log-slave-updates=1
log-bin=binlog
server-id=1

datadir=DATADIR_BASE_PATH/node1
log-error=DATADIR_BASE_PATH/node1/error.log
wsrep-node-name=node1
socket=DATADIR_BASE_PATH/node1/socket.sock


#
# PXC Cluster settings
# (PXC2)
#
[mysqld.node2]
log-slave-updates=1
log-bin=binlog
server-id=2

datadir=DATADIR_BASE_PATH/node2
log-error=DATADIR_BASE_PATH/node2/error.log
wsrep-node-name=node2
socket=DATADIR_BASE_PATH/node2/socket.sock



#
# PXC Cluster settings
# (PXC3)
#
[mysqld.node3]
log-slave-updates=1
log-bin=binlog
server-id=3

datadir=DATADIR_BASE_PATH/node3
log-error=DATADIR_BASE_PATH/node3/error.log
wsrep-node-name=node3
socket=DATADIR_BASE_PATH/node3/socket.sock

