# Common options
[mysqld]
skip-performance-schema
innodb-file-per-table
innodb-autoinc-lock-mode=2
innodb-locks-unsafe-for-binlog=1
innodb-flush-method=O_DIRECT
sql-mode=no_engine_substitution
secure-file-priv=
wsrep-slave-threads=2
log-output=none
wsrep-sst-method=xtrabackup-v2
wsrep-sst-auth="root:"

wsrep-debug=ON

#user=kennt
binlog-format=ROW
wsrep-cluster-name=my_cluster

[mysqld.m]
# Async Master settings
log-bin=binlog
#expire_log_days=7
server-id=100

datadir=/home/kennt/dev/pxc/build-bin/nodem
log-error=/home/kennt/dev/pxc/build-bin/nodem/error.log
socket=/home/kennt/dev/pxc/build-bin/nodem/socket.sock

[mysqld.1]
# Async slave settings
log-slave-updates=1
log-bin=binlog
#expire-log-days=7
server-id=1
master-info-repository=TABLE
relay-log-info-repository=TABLE

datadir=/home/kennt/dev/pxc/build-bin/node1
log-error=/home/kennt/dev/pxc/build-bin/node1/error.log
wsrep-node-name=node1
socket=/home/kennt/dev/pxc/build-bin/node1/socket.sock

[mysqld.2]
server-id=2
datadir=/home/kennt/dev/pxc/build-bin/node2
log-error=/home/kennt/dev/pxc/build-bin/node2/error.log
wsrep-node-name=node2
socket=/home/kennt/dev/pxc/build-bin/node2/socket.sock

master-info-repository=TABLE
relay-log-info-repository=TABLE

