# Common options
[mysqld]
log_bin
binlog_format=ROW
gtid_mode=ON
log_slave_updates
enforce_gtid_consistency=1
innodb_file_per_table=1
default_storage_engine=innodb
wsrep-cluster-name=my_cluster
wsrep_sst_method=xtrabackup-v2
wsrep_sst_auth="root:"
innodb_autoinc_lock_mode=2
innodb_locks_unsafe_for_binlog=1
wsrep-debug=1

[sst]
#encrypt=3
#tkey=/home/kennt/dev/data/certs/server.key
#tcert=/home/kennt/dev/data/certs/server.pem
#tca=/home/kennt/dev/data/certs/server.crt
#encrypt=1
#encrypt-algo=AES256
#encrypt-key=A1EDC73815467C083B0869508406637E

[mysqld.1]
server-id=1
datadir=/home/kennt/dev/pxc/build-bin/node1
log-error=/home/kennt/dev/pxc/build-bin/node1/node1.err
innodb-log-group-home-dir=/tmp/node1
wsrep-node-name=node1
socket=/home/kennt/dev/pxc/build-bin/node1/socket.sock
#early-plugin-load=keyring_file.so
#keyring-file-data=/home/kennt/dev/pxc/build-bin/keyring-node1/keyring

[mysqld.2]
server-id=2
datadir=/home/kennt/dev/pxc/build-bin/node2
log-error=/home/kennt/dev/pxc/build-bin/node2/node2.err
innodb-log-group-home-dir=/tmp/node2
wsrep-node-name=node2
socket=/home/kennt/dev/pxc/build-bin/node2/socket.sock
#early-plugin-load=keyring_file.so
#keyring-file-data=/home/kennt/dev/pxc/build-bin/keyring-node2/keyring

